</div>
</main>
<footer class="footer" id="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <div class="sup-footer">
        <div class="wrapper">
            <nav class="nav">
                {{ page.footer }}
            </nav>
        </div>
    </div>
    <div class="sub-footer">
        <div class="wrapper">
            <div class="container">
                <div class="logo">
                    <a href="/fr">
                        <img src="assets/img/logo-footer.png">
                    </a>
                </div>
                <!-- switch language links -->
                <div class="lang">
                    <ul class="language-switcher-locale-url"><li class="en-gb first"><a href="/en/joon-1" class="language-link" xml:lang="en-gb"><abbr title="English, British">en</abbr></a></li>
                        <li class="fr last active"><a href="/fr/joon-1" class="language-link active" xml:lang="fr"><abbr title="Français">fr</abbr></a></li>
                    </ul></div>
                <!-- additional menu -->
                <nav class="add-menu">
                    <ul>
                        <li><a href="/fr/informations-legales">Nous contacter</a></li>
                        <li><a href="/fr/informations-legales">Informations légales</a></li>
                        <li><a href="/fr/contact">Plan du site</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
</div>
<script>
    // inline loadJS
    function loadJS(e, t) {
        "use strict";
        var n = window.document.getElementsByTagName("script")[0], o = window.document.createElement("script");
        return o.src = e, o.async = !0, n.parentNode.insertBefore(o, n), t && "function" == typeof t && (o.onload = t), o
    }
    // then load your JS
    loadJS("/assets/js/main.js");
</script>
<div class="reveal-overlay">
</div>
</body>
</html>