.activities{
  background: $white;
  padding:109px 0 0;
  z-index: 1;
  @media screen and (min-width: $desktop-small){
    padding:109px 0 150px;
  }
  @media screen and (min-width: $desktop-medium){
    padding:109px 0 365px;
  }
  .sidebar{
    border-top: 6px solid #f05428;
  }
  .tabs-container{
    .activities-list{
      .activity-body{
        position: relative;
      }
        .content{
          @media screen and (min-width: $mobile-small){
            padding: 35px 55px 60px 55px;
          }
          @media screen and (min-width: $desktop-small){
            position: absolute;
            background: $white;
          }
          @media screen and (min-width: $desktop-small){
            padding:62px 152px 60px 80px;
          }
          .activity-name{
            font-size: 32px;
            font-family: $font-bold;
            color: $navy-blue;
          }
        }
    }
  }
  &+div{
    padding-top: 80px;
    @media screen and (min-width: $desktop-small){
      padding-top: 250px;
    }
  }
}