.alliances{
  padding:70px 0 60px;
  @media screen and (min-width: $desktop-medium){
    padding:170px 0 60px;
  }
  @media screen and (min-width: $desktop-medium){
    padding:152px 0;
  }
  .sidebar{
    border-top: 6px solid #acc432;
  }
  &-list{
    .alliance-item{
      display: block;
      @media screen and (min-width: $desktop-medium) {
        margin: 0 -9px;
      }
      @media screen and (min-width: $desktop-medium){
        @include display-flex();
      }
      &>div{
        @media screen and (min-width: $desktop-medium){
          margin:0 9px;
        }
        &.alliance-head{
          width: 100%;
          margin-bottom: 20px;
          @media screen and (min-width: $desktop-medium){
            max-width: 505px;
            margin-bottom: 0;
          }
          .alliance-body{
            .description{
              background: $white;
              padding:50px 15px 40px 15px;
              margin-bottom: 18px;
              @media screen and (min-width: $mobile-small){
                padding:75px 60px 40px 80px;
              }
              h2{
                font-size: 32px;
              }
            }
            .alliance-keys{
              .keys{
                li{
                  padding: 10px 0 35px;
                }
              }
            }
          }
        }
        &.right-bloc{
          background: #d1eb94;
          width: 100%;
          padding: 27px 35px;
          @media screen and (min-width: $mobile-small){
            @include display-flex();
          }
          @media screen and (min-width: $desktop-medium){
            max-width: calc(100% - 505px);
            flex-direction: column;
            padding:45px 35px;
          }
          .top{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and (min-width: $mobile-small){
              max-width: 32%;
            }
            @media screen and (min-width: $desktop-medium){
              max-width: none;
            }
          }
          .alliance-single-key{
            font-size: 65px;
            font-family: $font-bold;
            position: relative;
            margin-top: 10px;
            margin-bottom: 5px;
            color:$navy-blue;
            text-align: center;
            &:before{
              content:"";
              width: 29px;
              height:1px;
              background: $red;
              position: absolute;
              left:0;
              right:0;
              margin:0 auto;
              bottom:9px;
            }
          }
          .alliance-single-legend{
            text-align: center;
            font-size: 18px;
            font-family: $font-medium;
            color:$navy-blue;
            margin-bottom:30px;
          }
          .alliance-image{
            text-align: center;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 26px;
            @media screen and (min-width: $mobile-small){
              max-width: 130px;
              margin-bottom: 0;
              border-left:1px solid $white;
              border-right:1px solid $white;
            }
            @media screen and (min-width: $desktop-medium){
              max-width: none;
              display: block;
              margin-bottom: 26px;
              border:none;
            }
            img{
              max-width: 100%;
            }
          }
          .alliance-short-text{
            position: relative;
            width: 100%;
            padding-top:30px;
            font-size: 16px;
            @media screen and (min-width: $mobile-small){
              max-width: 45%;
              padding:20px 0 20px 20px;
            }
            @media screen and (min-width: $desktop-medium){
              max-width: none;
              padding: 30px 0 0 0;
            }
            &:before{
              content:"";
              width: calc(100% + 20px);
              height:1px;
              background: $white;
              position: absolute;
              left:-10px;
              top:0;
              display: block;
              @media screen and (min-width: $mobile-small){
                display: none;
              }
              @media screen and (min-width: $desktop-medium){
                display: block;
              }
            }
          }
        }
      }
    }
  }
}