/* Entry
----------------------------------------------------------------------------------------------------*/
.article {
  @include clearfix;

  &__summary {
    margin-bottom: 50px;
  }

  &__body {
    @include clearfix;

    ul {
      list-style: disc inside none;
      margin: 0 0 20px;

      li {
        margin: 0 0 10px;
      }
    }

    ol {
      list-style: decimal inside none;
      margin: 0 0 20px;

      li {
        margin: 0 0 10px;
      }
    }
  }
}