/* Header css
 ----------------------------------------------------------------------------------------------------*/
.header {
  @include clearfix;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: rgba($dark, .3);
  border-bottom: 2px solid rgba($white, .3);
  font-family: $font-bold;
  .wrapper{
    max-width: 955px;
    @media screen and (min-width: $desktop-medium) {
      @include display-flex();
      align-items: center;
      max-width: $container;
    }
  }
  .search-holder{
    background: $white;
    width: 100%;
    height:0;
    display: none;
    &.is-visible{
      height:47px;
      transition: height .3s ease;
    }
    @media screen and (min-width: $tablet-lage){
      display: block;
    }
  }
  &__logo {
    @include clearfix;
    overflow: hidden;
    max-height: 93px;
    width:100%;
    max-width: 233px;
    margin-top: 15px;
    margin-bottom: 15px;
    @media screen and (min-width: $tablet-lage){
      max-width: 175px;
      position: absolute;
      margin-top: 10px;
      margin-bottom: 0;
    }
    @media screen and (min-width: $desktop-medium){
      max-width: 287px;
      padding-left: 17px;
      position: inherit;
    }
    &-link {
      float: left;
      transition:all 1s;
      display: block;
      width: 100%;
      img{
        width: 120px;
        margin:0 auto;
      }
    }
  }
  &__right{
    width: 100%;
    @include display-flex();
    flex-direction: column-reverse;
    background: rgba($white, .9);
    position: fixed;
    left:-100%;
    top:0;
    transition: all 1s ease;
    padding:15px 0;
    &.opened{
      left:0;
    }
    @media screen and (min-width: $tablet-medium){
      padding:15px;
    }
    @media screen and (min-width: $tablet-lage){
      background: none;
      display: block;
      width: 100%;
      position: static;
      max-width: none;
      padding:0;
    }
    @media screen and (min-width: $desktop-medium){
      max-width: calc(100% - 287px);
    }
    &--top{
      transition: all 1s;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media screen and (min-width: $tablet-lage){
        height: 110px;
      }
      @media screen and (min-width: $desktop-medium){
        height: 85px;
      }
      &--main{
        div{
          display: inline-block;
          text-transform: uppercase;
          font-size: 12px;
          color:$navy-blue;
          &:first-child{
            margin-right: 34px;
            a{
              color:$navy-blue;
              @media screen and (min-width: $tablet-lage){
                color:$white;
              }
            }
          }
          .links{
            margin-right: 15px;
            @media screen and (min-width: $tablet-lage){
              margin:0 -6px;
            }
            li{
              margin:0;
              padding:6px;
              display: inline-block;
              a{
                color:$navy-blue;
                @media screen and (min-width: $tablet-lage){
                  color:$white;
                }
                &:hover, &.active{
                  color: $red;
                }
                abbr{
                  cursor: pointer !important;
                  border:none;
                  text-decoration: none !important;
                }
              }
              &:first-child{
                padding-right:7px;
                position: relative;
                &:after{
                  content:"";
                  height:12px;
                  width: 1px;
                  background: $white;
                  position: absolute;
                  top:8px;
                  right:-2px;
                }
              }
            }
          }
        }
        .region-header-right-top{
          p{
            margin-bottom: 0;
          }
        }
      }
    }
    &--bottom{
      @include display-flex();
      flex-wrap: wrap;
      flex-direction: column-reverse;
      @media screen and (min-width: $tablet-lage){
        flex-direction:row;
        border-top: 1px solid rgba($white, .3);
      }
      .search{
        display: flex;
        align-items: center;
        position: unset;
        .main-search{
          width: 90%;
          display: flex;
          @media screen and (min-width: $tablet-medium){
            width: 95%;
          }
          @media screen and (min-width: $tablet-lage){
            width: 100%;
            display: block;
          }
        }
        &__input{
          width: 100%;
          padding:0 15px;
          background: transparent;
          @media screen and (min-width: $tablet-lage){
            position: absolute;
            bottom:-40px;
            left:0;
          }
          form{
            input.search-input{
              background: transparent;
              color: $navy-blue;
              text-transform: uppercase;
              text-align: center;
              font-family: $font-bold;
              border-bottom:1px solid rgba($dark, .3);
              height: 40px;
              @media screen and (min-width: $tablet-lage){
                visibility: hidden;
                height:0;
              }
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $navy-blue;
                text-transform: uppercase;
                text-align: center;
                font-family: $font-bold;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: $navy-blue;
                text-transform: uppercase;
                text-align: center;
                font-family: $font-bold;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: $navy-blue;
                text-transform: uppercase;
                text-align: center;
                font-family: $font-bold;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: $navy-blue;
                text-transform: uppercase;
                text-align: center;
                font-family: $font-bold;
              }
              &.is-visible{
                visibility: visible;
                height:40px;
                transition: visibility 1s;
                transition-delay: .3s;
              }
            }
          }
        }
        .search__icon{
          font-family: icomoon;
          text-align: center;
          width: 60px;
          position: relative;
          display: flex;
          align-items: center;
          @media screen and (min-width: $tablet-lage){
            display: block;
          }
          i{
            display: block;
            color:$navy-blue;
            cursor: pointer;
            @media screen and (min-width: $tablet-lage){
              color:$white;
              border-left: 1px solid rgba($white, .3);
            }
            &:before{
              content: "\e807";
              font-size: 18px;
              font-style: normal;
            }
          }
        }
        .search-submit{
          display: none;
        }
      }
    }
  }

  &__img {
    margin: 0 auto 20px;
  }
  &.sticky, &.none_banner{
    border-bottom-color: $light-blue;
    background: $white;
    .header__logo-link{
      transform: translateY(-100%);
    }
    .header__right--top{
      section{
        a{
          color:$navy-blue;
        }
        .links{
          li:first-child:after{
            background: $navy-blue;
          }
        }
      }
    }
    .header__right--bottom{
      border-top-color: $light-blue;
      .search{
        &__icon{
          i{
            color:$navy-blue;
            border-left-color: $navy-blue;
          }
        }
        .search-input {
          @media screen and (min-width: $tablet-lage) {
            color: $white;
            border-bottom: 1px solid rgba($white, .3);
            &::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: $white;
            }
            &::-moz-placeholder {
              /* Firefox 19+ */
              color: $white;
            }
            &:-ms-input-placeholder {
              /* IE 10+ */
              color: $white;
            }
            &:-moz-placeholder {
              /* Firefox 18- */
              color: $white;
            }
          }
        }
      }
    }
    .menu{
      li{
        a{
          color:$navy-blue;
          &.active, &:hover{
            color: $red !important;
          }
        }
      }
    }
    .search-holder{
      background: $navy-blue;
    }
  }
  &.none_banner{
    .logo{
      &__default{
        display: none !important;
      }
      &__sticky{
        display: block !important;
        transform: translateY(0) !important;
      }
    }
  }
}