.keyfigures {
  padding:60px 0 150px;
  .sidebar{
    border-top: 6px solid #d41923;
  }
  .sub-content{
    color: $white;
    position: relative;
    .supertitle{
      font-size: 32px;
      text-transform: uppercase;
      line-height: 25px;
      margin-bottom: 29px;
    }
    .button_read__more{
      bottom: -90px;
      z-index: 2;
      @media screen and (min-width: $mobile-small){
        bottom: -120px;
      }
      @media screen and (min-width: $tablet-medium){
        bottom: -90px;
      }
    }
  }
}