.presse__home{
  padding-bottom: 80px;
  .title{
    max-width: 1134px;
    margin:0 auto;
    margin-bottom: 30px;
    position: relative;
    @media screen and (min-width: $tablet-medium){
      margin-left: 50px;
      margin-bottom: 60px;
    }
    @media screen and (min-width: $desktop-medium){
      margin-left: auto;
    }
    .read__more{
      @media screen and (min-width: $tablet-medium){
        position: absolute;
        right:17px;
        top:15px;
      }
      @media screen and (min-width: $tablet-lage){
        top:20px;
      }
      @media screen and (min-width: $desktop-medium) {
        top: 30px;
      }
      &:hover{
        right:0;
      }
    }
  }
  .wrapper{
    max-width: $maxsize;
  }
  &--main{
    @include display-flex();
    flex-wrap: wrap;
    padding-bottom: 10px;
    @media screen and (min-width: $mobile-small){
      margin:0 -9px;
    }
    @media screen and (min-width: $desktop-medium){
      margin:0 34px;
    }
  }
  &--item{
    width: 100%;
    background: $white;
    box-shadow: 1px 1px 12px #ccc;
    margin:9px 0;
    position: relative;
    @media screen and (min-width: $mobile-small){
      width: calc(50% - 18px );
      margin:9px;
    }
    @media screen and (min-width: $desktop-small){
      width: calc(25% - 18px );
      margin:0 9px;
    }
    .image{
      img{
        width: 100%;
        display: block;
      }
    }
    &--content{
      padding:28px 35px 0;
    }
    &-title{
      margin-bottom: 15px;
      font-size: 28px;
      color: $navy-blue;
      font-family: $font-bold;
      line-height: 35px;
    }
    &>div.node:first-child{
      height: 100%;
    }
    a{
      position: absolute;
      top:0;
      right:0;
      bottom: 0;
      left:0;
      font-size: 0;
    }
    &:hover{
      .read__more{
        padding-left: 52px;
        color:$color-readmore;
        &:before{
          left: 27px;
        }
        &:after{
          left:0;
        }
      }
    }
    &:nth-child(1){
      .image{
        border-bottom: 6px solid #9ee3f3;
      }
      &:hover{
        .presse__home--item-title{
          color: #9ee3f3;
        }
      }
    }
    &:nth-child(2){
      .image{
        border-bottom: 6px solid #752a97;
      }
      &:hover{
        .presse__home--item-title{
          color: #752a97;
        }
      }
    }
    &:nth-child(3){
      .image{
        border-bottom: 6px solid #aeca10;
      }
      &:hover{
        .presse__home--item-title{
          color: #aeca10;
        }
      }
    }
    &:nth-child(4){
      .image{
        border-bottom: 6px solid #ff0d0d;
      }
      &:hover{
        .presse__home--item-title{
          color: #ff0d0d;
        }
      }
    }
  }
  .block-views{
    width: 100%;
    @media screen and (min-width: $tablet-lage){
      width: 50%;
    }
    .presse__home--item{
      width: 100%;
      @media screen and (min-width: $mobile-small){
        width: calc(50% - 18px);
      }
    }
    .view-content{
      @media screen and (min-width: $mobile-small){
        @include display-flex();
      }
      @media screen and (min-width: $desktop-small) {
        width: 100%;
      }
    }
    &:nth-child(2){
      .presse__home--item{
        &:nth-child(1){
          .image{
            border-bottom: 6px solid #aeca10;
          }
          &:hover{
            .presse__home--item-title{
              color: #aeca10;
            }
          }
        }
        &:nth-child(2){
          .image{
            border-bottom: 6px solid #ff0d0d;
          }
          &:hover{
            .presse__home--item-title{
              color: #ff0d0d;
            }
          }
        }
      }
    }
  }
  &.see-also-block{
    padding:65px 0 85px;
    .title{
      max-width: 1120px;
    }
    .block-bean{
      width: 100%;
      background: $white;
      box-shadow: 1px 1px 12px #ccc;
      margin:9px 0;
      position: relative;
      @media screen and (min-width: $mobile-small){
        width: calc(50% - 18px );
        margin:9px;
      }
      @media screen and (min-width: $desktop-small){
        width: calc(25% - 18px );
        margin:0 9px;
      }
      .image{
        border-bottom: 6px solid #aeca10;
        img{
          display: block;
        }
      }
      &:hover{
        .presse__home--item-title{
          color: #aeca10;
        }
      }
      &:nth-child(2){
        .image{
          border-bottom: 6px solid #ff0d0d;
        }
        &:hover{
          .presse__home--item-title{
            color: #ff0d0d;
          }
        }
      }
      a{
        position: absolute;
        top:0;
        right:0;
        bottom: 0;
        left:0;
        font-size: 0;
      }
      &:hover{
        .read__more{
          padding-left: 52px;
          color:$color-readmore;
          &:before{
            left: 27px;
          }
          &:after{
            left:0;
          }
        }
      }
    }
  }
}