.main-introduction{
  background: $white;
  padding:10px 0 50px;
  h1{
    margin-bottom: 14px;
  }
}
.magazine__press{
  &--main{
    background: $white;
    padding-bottom: 118px;
  }
  &--item{
    @include display-flex();
    @media screen and (max-width: $tablet-medium - 1px) {
      display: block;
    }
    &>*{
      width: 50%;
    }
    .image{
      background-size: cover;
      background-position: center center;
      @media screen and (max-width: $tablet-medium - 1px){
        min-height: 400px;
        width: 100%;
      }
      img{
        width: 100%;
        display: block;
      }
    }
  }
  &--box{
    border-top: 6px solid #e21a5b;
    background: $white;
    box-shadow: 1px 1px 12px #ccc;
    padding-right: 40px;
    @media screen and (max-width: $tablet-medium - 1px){
      width: 100%;
    }
    .date{
      color: #e21a5b;
    }
    .actua_title{
      a{
        &:hover{
          color:#e21a5b;
        }
      }
    }
  }
}
.press-lists{
  padding:80px 0 115px;
}
.press-content.wrapper{
  .container{
    @media screen and (min-width: $desktop-small){
      margin-right: 0;
    }
    .sidebar{
      border-top-color: $orange;
    }
    .press-list{
      .press-body{
        .press-image{
          img{
            width: 100%;
            display: block;
          }
        }
        .content{
          .button_read__more{
            width: calc(100% - 30px);
            left:auto;
            right: 15px;
            bottom: auto;
            margin-top: -33px;
            @media screen and (min-width: $tablet-medium){
              width: calc(50% - 15px);
            }
          }
        }
      }
    }
  }
}
