.project__home{
  .title{
    max-width: 1134px;
    margin:0 auto;
    margin-bottom: 60px;
    position: relative;
    @media screen and (min-width: $tablet-medium){
      margin-left: 50px;
    }
    @media screen and (min-width: $desktop-medium){
      margin-left: auto;
    }
    .read__more{
      @media screen and (min-width: $tablet-medium){
        position: absolute;
        right:17px;
        top:15px;
      }
      @media screen and (min-width: $tablet-lage){
        top:20px;
      }
      @media screen and (min-width: $desktop-medium) {
        top: 30px;
      }
      &:hover{
        right:0;
      }
    }
  }
  .wrapper{
    max-width: $maxsize;
  }
  &--item{
    @include clearfix();
    margin-bottom:40px;
    @media screen and (min-width: $desktop-medium){
      min-height: 486px;
    }
    @media screen and (min-width: $tablet-medium){
      margin-bottom:80px;
    }
    @include clearfix;
    .image{
      width: 100%;
      @media screen and (min-width: $tablet-medium){
        position: absolute;
        width: 100%;
        max-width: 57%;
        margin-left: -15px;
      }
      @media screen and (min-width: $desktop-medium){
        max-width: 67%;
      }
      img{
        display: block;
      }
    }
    &--main{
      padding-top: 65px;
    }
    &--content{
      width: 100%;
      margin-left: auto;
      background: $white; 
      z-index: 2;
      position: relative;
      padding:51px 25px 35px 47px;
      font-size: 18px;
      border-top: 6px solid #ff0d0d;
      @media screen and (min-width: $tablet-medium){
        max-width: 57%;
      }
      @media screen and (min-width: $desktop-medium){
        padding:65px 70px 46px 90px;
        margin-right: 43px;
        max-width: calc(50% - 43px);
      }
      .project_title{
        font-size: 32px;
        font-family: $font-bold;
        margin-bottom: 2px;
        a{
          color:$navy-blue;
          &:hover{
            color: #ff0d0d;
          }
        }
      }
      .content{
        line-height: 24px;
        margin-bottom: 28px;
      }
    }
    &:nth-child(even){
      .image{
        right:0;
        margin-left: 0;
        margin-right: 0;
      }
      .project_title{
        a{
          &:hover{
            color: #9ce3f4;
          }
        }
      }
      .project__home--item--main{
        padding-top:0;
        @media screen and (min-width: $desktop-medium){
          padding-top: 65px;
        }
      }
      .project__home--item--content{
        border-top: 5px solid #9ce3f4;
        @media screen and (min-width: $tablet-medium){
          margin-right: auto;
          margin-left: 0px;
          top:-20px;
        }
        @media screen and (min-width: $desktop-medium){
          margin-left: 43px;
          top:0px;
        }
      }
    }

  }
}