.saga{
  min-height: 442px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  border-bottom: 1px solid $white;
  @include display-flex();
  align-items: center;
  .saga-content{
    height:100%;
    .container{
      color:$white;
      display: block;
      text-align: center;
      h2{
        display: block;
        width: 100%;
        color: $white;
        font-size: 40px;
        text-transform: uppercase;
        margin-top: 45px;
        @media screen and (min-width: $mobile-small){
          font-size: 65px;
        }
      }
      .read__more{
        color:$white;
        &:before{
          border-left-color: $white;
        }
        &:after{
          background: $white;
        }
      }
    }
  }
  &:before{
    content:"";
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba($dark, .33);
    position: absolute;
  }
}
