.slideshow{
  &__home{
    margin-bottom: 40px;
    border:none;
    overflow: hidden;
    @media screen and (min-width: $tablet-medium){
      margin-bottom: 97px;
    }
    .slides{
      li{
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center top;
        position: relative;
        min-height: 500px;
        @media screen and (min-width: $desktop-medium){
          min-height: 870px;
        }
        img{
          visibility: hidden;
          display: block;
          width: auto;
        }
      }
      &__content{
        position: absolute;
        bottom:150px;
        max-width: 1150px;
        padding:0 15px;
        margin:0 auto;
        left:0;
        right:0;
        overflow: hidden;
        padding-bottom: 15px;
        width: 100%;
        @media screen and (min-width: $desktop-medium){
          bottom:270px;
        }
        h2{
          color:$white;
          font-size: 40px;
          font-family: $font-bold;
          text-transform: uppercase;
          margin-bottom: 0;
          line-height: 40px;
          max-width: 460px;
          transform: translateX(-103%);
          @media screen and (min-width: $tablet-medium){
            font-size: 50px;
            margin-bottom: 15px;
            line-height: 60px;
          }
          @media screen and (min-width: $desktop-medium){
            font-size: 50px;
            margin-bottom: 25px;
          }
          p{
            font-size: 40px;
            @media screen and (min-width: $tablet-medium) {
              font-size: 50px;
            }
            @media screen and (min-width: $desktop-medium){
              font-size: 65px;
            }
          }
        }
        a{
          font-size: 18px;
          color:$white;
          font-family: $font-medium;
          position: relative;
          text-transform: uppercase;
          transform: translateX(-115%);
          display: inline-block;
          transition: color .5s linear 0s;
          &:before{
            content:"";
            width: 100%;
            height:2px;
            background: $white;
            bottom:0px;
            left:0;
            position: absolute;
            transition: all .2s;
          }
        }
      }
      .flex-active-slide{
        .slides__content{
          h2{
            transition: all .5s;
            transition-delay: .5s;
            transform: translateX(0);
          }
          a{
            transition: transform .5s 1s;
            transform: translateX(0);
            padding-bottom: 7px;
            &:hover{
              color: $color-hover;
              transition-delay: 0s;
              &:before{
                background: $color-hover;
              }
            }
          }
        }
      }
    }
    .flex-direction-nav{
      background: #000;
      a{
        overflow: inherit;
        font-size: 0;
        left:auto;
        height:40px;
        width: 40px;
        @include display-flex();
        border:2px solid $white;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: $tablet-medium){
          height:60px;
          width: 60px;
        }
      }
      .flex-prev{
        right:15px;
        top: calc(100% - 110px);
        @media screen and (min-width: $tablet-medium) {
          top: 50%;
          right:100px;
        }
        &:before{
          font-family: "icomoon2";
          content:"\e901";
          color:$white;
          transform: rotate(180deg);
        }
      }
      .flex-next{
        top: calc(100% - 50px);
        right:15px !important;
        @media screen and (min-width: $tablet-medium) {
          right: 140px !important;
          top: calc(50% + 80px);
        }
        &:before{
          font-family: "icomoon2";
          content:"\e901";
          color:$white;
        }
      }
    }
    &:hover{
      .flex-direction-nav{
        .flex-nav-prev{
          .flex-prev{
            left: auto;
            @media screen and (min-width: $tablet-medium) {
              right: 120px;
            }
          }
        }
        .flex-next{
          left: auto;
          @media screen and (min-width: $tablet-medium) {
            right: 120px !important;
            top: calc(50% + 80px);
          }
        }
      }

    }
  }
}
.scroll{
  &__down{
    position: absolute;
    left:50%;
    bottom:10px;
    margin:0 auto;
    transform: translateX(-50%);
    text-align: center;
    z-index: 99;
    cursor: pointer;
    display: inline-block;
    color:$white;
    font-size: 14px;
    text-transform: uppercase;
    p:first-child{
      margin-bottom: 5px;
    }
  }
  &__mouse{
    display: inline-block;
    width: 22px;
    height:38px;
    border:2px solid $white;
    border-radius: 20px;
    position: relative;
    &:after{
      content:"";
      height:7px;
      width: 2px;
      background: $white;
      position: absolute;
      top:3px;
      left:0;
      right:0;
      margin:0 auto;
      -webkit-animation-name: scrollDown; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: .7s; /* Safari 4.0 - 8.0 */
      animation-name: scrollDown;
      animation-duration: .7s;
      animation-iteration-count: infinite;
    }
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes scrollDown {
  from {top: 3px;}
  to {top: 12px;}
}

/* Standard syntax */
@keyframes scrollDown {
  from {top: 4px;}
  to {top: 12px;}
}
.flex-direction-nav{
  a{
    overflow: inherit;
    font-size: 0;
    left:auto;
    &:before{
      font-size: 40px;
    }
  }
  .flex-prev{
    &:before{
      font-family: "icomoon2";
      content:"\e901";
      color:$white;
      transform: rotate(180deg);
    }
  }
  .flex-next{
    &:before{
      font-family: "icomoon2";
      content:"\e901" !important;
      color:$white;
    }
  }
}