/* Global css
 ----------------------------------------------------------------------------------------------------*/
*, body{
 margin:0;
 padding:0;
}
ul{
 padding-left:0;
 margin-bottom: 0;
}
a{
 &:hover{
  color:$color-hover;
  transition: all .5s;
 }
}
b, strong{
 font-family: $font-bold;
 color:$color-bold;
}
.normalsize{
 max-width: $container !important;
}
.maxsize{
 max-width: $maxsize !important;
}
.smallsize{
 max-width: $smallsize !important;
}
h1{
 font-family: $font-bold;
 font-size: 40px;
 color:$navy-blue;
 text-transform: uppercase;
 align-items: center;
 justify-content: space-between;
 @media screen and (min-width: $tablet-lage){
  font-size: 44px;
 }
}
h2{
 font-size: 32px;
 font-family: $font-bold;
 color:$navy-blue;
}
.no_banner, .no-banner{
 padding-top:125px;
 @media screen and (min-width: $tablet-lage){
  padding-top:138px;
 }
}
.title{
 font-family: $font-bold;
 font-size: 40px;
 color:$navy-blue;
 text-transform: uppercase;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 53px;
 @media screen and (min-width: $tablet-medium){
  @include display-flex();
 }
 @media screen and (min-width: $tablet-lage){
  font-size: 44px;
 }
 a{
  font-family: $font-medium;
  font-size: 18px;
  color:$color-readmore;
  display: block;
  margin-top: 10px;
  @media screen and (min-width: $tablet-medium){
   display: inline-block;
   margin-top: 0;
  }
 }
}
.read__more{
 font-family: $font-medium;
 font-size: 18px;
 color:$color-readmore;
 text-transform: uppercase;
 display: inline-block;
 padding-left: 35px;
 position: relative;
 overflow: hidden;
 transition: all .2s;
 cursor: pointer;
 &:before{
  content:"";
  width:0px;
  height:0px;
  border-bottom:5px solid transparent;
  border-top:5px solid transparent;
  border-left: 5px solid $color-readmore;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:0;
  transition: all .5s;
 }
 &:after{
  content:"";
  width:27px;
  height:1px;
  background: $color-readmore;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:-27px;
  transition: all .5s;
 }
 &:hover{
  padding-left: 52px;
  color:$color-readmore;
  &:before{
   left: 27px;
  }
  &:after{
   left:0;
  }
 }
}
.keys{
 @media screen and (min-width: $mobile-small) {
  @include display-flex();
  margin:0 -9px 30px -9px;
 }
 li{
  display: inline-block;
  width: 100%;
  background: $white;
  text-align: center;
  color: $navy-blue;
  font-size: 18px;
  margin-bottom: 40px;
  padding-bottom: 18px;
  position: relative;
  @media screen and (min-width: $mobile-small){
   width: calc(50% - 18px);
   margin-bottom: 15px;
   margin:0 9px;
  }
  .key{
   font-size: 65px;
   font-family: $font-bold;
   position: relative;
   margin-top: 18px;
   margin-bottom: 5px;
   &:before{
    content:"";
    width: 29px;
    height:1px;
    background: $red;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    bottom:9px;
   }
   &-legend{
    margin-bottom: 20px;
    .sublegend{
     font-size: 15px;
     color:$textcolor;
    }
   }
  }
  .legend{
   font-family: $font-medium;
  }
  .read{
   margin-bottom: 0;
   padding:5px 0 5px 25px;
   position: absolute;
   left:0;
   right:0;
   bottom:-18px;
   background: #aacaf8;
   transition:all 1s ease;
   &:hover{
    background: $color-readmore;
   }
  }
  .read__more{
   display: block;
   background: none;
   text-align: left;
   .title{
    font-family: $font-medium;
    font-size: 18px;
    margin:0;
    color: $white;
   }
   &:before{
    border-left-color: $white;
   }
   &:after{
    background: $white;
   }
  }
  &:hover{
   .read{
    background: $color-readmore;
   }
   .read__more{
    padding-left: 52px;
    &:before{
     left:27px;
    }
    &:after{
     left:0;
    }
   }
  }
 }
 &:last-child{
  margin-bottom: 0;
 }
}
.reveal{
 width: 100%;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 overflow: visible;
 overflow-y: visible;
 position: relative;
 padding: 0;
 border: none;
 background-color: $dark;
 left: auto;
 right: auto;
 margin-left: auto;
 margin-right: auto;
 max-width: 81rem;
 .container{
  width: 100%;
  position: relative;
 }
 .box-head{
  @media screen and (min-width: $tablet-medium) {
   @include display-flex();
  }
  .description{
   a{
    color:$color-readmore;
    &:hover{
     color:$color-hover;
    }
   }
  }
 }
 .modal-close {
  color: #fff;
  position: absolute;
  left:50%;
  top: -40px;
  transform: translateX(-50%);
  z-index: 999999;
  cursor: pointer;
  @media screen and (min-width: $desktop-medium){
   right: -40px;
   left:auto;
   transform: translateX(0);
  }
  .content {
   position: relative;
   a {
    height: 20px;
    width: 20px;
    display: block;
    &:before, &:after{
     content: "";
     position: absolute;
     left: 50%;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
     top: 0;
     height: 20px;
     width: 2px;
     background-color: #fff;
    }
    &:before{
     transform: rotate(45deg);
    }
    &:after{
     transform: rotate(-45deg);
    }
   }
  }
 }
 .box-complex, .box-simple {
  background: #fff;
  border-top: 3px solid $red;
  max-height: 77vh;
  padding: 40px 0;
  overflow-y: auto;
  .box-head{
   max-width: 81rem;
   margin-left: auto;
   margin-right: auto;
   .box-head-left{
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
    text-align: center;
    @media screen and (min-width: $tablet-medium){
     width: 35%;
    }
   }
   .box-head-right{
    width: 100%;
    padding:15px;
    @media screen and (min-width: $tablet-medium) {
     width: 60%;
     padding:0;
    }
   }
  }
 }
 .box-simple{
  padding: 40px 20px;
 }
 &.is-active{
  display: block;
 }
}
.reveal-overlay{
 &.is-active{
  display: block;
 }
 .reveal{
  top:60px;
 }
}
.main-image{
 min-height: 400px;
 width: 100%;
 background-size: cover;
 position: relative;
 @media screen and (min-width: $mobile-small){
  min-height: 575px;
 }
 .content{
  position: absolute;
  left:0;
  right:0;
  bottom:90px;
  @media screen and (min-width: $mobile-small){
   bottom:170px;
  }
  h2{
   color: #fff;
   font-size: 40px;
   font-family: excellenceinmotion_bold;
   text-transform: uppercase;
   max-width: 460px;
   line-height: 60px;
   margin-bottom: 25px;
   @media screen and (min-width: $tablet-medium){
    font-size: 65px;
   }
  }
 }
}
.actua_title{
 a{
  color:$navy-blue;
 }
}
.sidebar{
 width: 100%;
 background: $white;
 border-top: 6px solid #d2d944;
 padding:30px 15px;
 margin-bottom: 20px;
 @media screen and (min-width: $tablet-medium){
  max-width: 38%;
  margin-bottom: 0;
 }
 @media screen and (min-width: $tablet-lage){
  padding: 57px 55px 30px 55px;
 }
 @media screen and (min-width: $desktop-small){
  padding:65px 55px 30px 80px;
 }
 h2{
  font-family: $font-bold;
  color: $navy-blue;
  font-size: 32px;
 }
}
//style of button
.tabs{
 li{
  margin:0 !important;
  .read__more{
   padding-top:16px;
   padding-bottom: 16px;
   border-top:3px solid rgba($color-readmore, .33);
   width: 100%;
   display: block;
   &:hover, &.is-active{
    border-top:3px solid $navy-blue;
    padding-left: 52px;
    color:$navy-blue !important;
    &:before{
     border-left-color: $navy-blue;
     left: 27px;
    }
    &:after{
     background: $navy-blue;
     left: 0;
    }
    .title{
     color:$navy-blue !important;
    }
   }
   .title{
    font-family: $font-medium;
    font-size: 18px;
    margin:0;
    color: $color-readmore;
   }
  }
 }
}
//style subcontent
.sub-content {
 width: 100%;
 @media screen and (min-width: $tablet-medium){
  margin-left: 15px;
 }
 @media screen and (min-width: $tablet-medium){
  max-width: 62%;
 }
 @media screen and (min-width: $desktop-small){
  margin-left: 80px;
 }
}
.tabs-content{
 width: 100%;
 @media screen and (min-width: $tablet-medium){
  max-width: 63%;
 }
}
.tabs-container{
 .tabs-panel{
  &:not(:first-child){
   display: none;
  }
 }
}
.complex-content{
 &.wrapper{
  .container{
   @media screen and (min-width: $tablet-medium){
    @include display-flex();
   }
   @media screen and (min-width: $desktop-small){
    margin:0 43px;
   }
  }
 }
}
.fancybox-inner{
 overflow: inherit !important;
}
.fancybox-close{
 display: none;
}
.fancybox-skin{
 box-shadow: none !important;
 background: none;
}
.animation_hover{
 transition: all .5s ease;
 &.hover_active{
  transform: translateY(25px);
 }
}
.Search-pattern{
 padding: 5px 5px;
 background: $color-bold;
 color: $white;
 font-size: 17px;
}
ul.primary li a{
 color:$dark;
}
.list-of-news{
 padding:0 10px;
}
.reveal-overlay{
 display: none;
}
.fancybox-wrap {overflow:hidden}
.groupedlink{
  margin-bottom: 30px;
  .read{
    background: #0062e6;
    height: 65px;
    .read__more{
      line-height: 55px;
    }
  }
}