.video{
  padding:60px 0;
  .complex-content {
    .container{
      display: block;
      @include display-flex();
      flex-direction: column-reverse;
      @media screen and (min-width: $tablet-medium){
        margin:0 43px;
      }
      @media screen and (min-width: $desktop-small){
        flex-direction:row;
      }
      .sidebar{
        @media screen and (max-width: $desktop-small - 1px){
          max-width:100%;
        }

      }
    }
    .video-content{
      height:300px;
      @media screen and (min-width: $mobile-small){
        height:400px;
      }
      @media screen and (min-width: $tablet-medium){
        height: 500px;
      }
      @media screen and (min-width: $desktop-small - 1px){
        width: 63%;
      }
      *{
          height:100%;
          width: 100%;
      }
    }
  }
}